<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class=" text-start">


                <p class="mb-0">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script><span>. All rights reserved.</span>
                    <i class="icon-heart-o" aria-hidden="true"></i> <a href="" target="_blank"><strong>Rayvers
                            Kitchen</strong></a>.
                </p>

            </div>

        </div>
    </div>
</footer>