{% extends 'dashboard_base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<style>
    .no-wrap {
        white-space: nowrap;
    }

    /* Pagination styles */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .pagination button {
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #007bff;
        background-color: white;
        color: #007bff;
        cursor: pointer;
        border-radius: 4px;
    }

    .pagination button.active {
        background-color: #007bff;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3"><strong>{{restaurant.name|upper}}</strong></h1>

        <!-- Rest Details -->
        <div class="row">
            <!-- Profile Section -->
            <div class="col-md-4 col-xl-3">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{{ restaurant.image_url }}"
                            style="width: 90px; height: 90px; border: 2px solid #222296; object-fit: cover; border-radius: 50%; margin-bottom: 15px;"
                            alt="Profile Picture" />
                        <h5 class="card-title mb-0 text-black">{{restaurant.name|upper}}</h5>
                        <div class="text-muted mb-2 text-primary">{{ restaurant.user.email }}</div>

                        <div>
                            <a class="btn btn-primary btn-sm"
                                href="{% url 'dashboard:restaurant_edit' restaurant.pk %}">Edit
                                Kitchen</a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Account Details Section -->
            <div class="col-md-8 col-xl-9">
                <div class="card">

                    <div class="card-body">

                        <div class="row">
                            <div class="mt-3 mb-3">
                                <h5 class="card-title mb-0">Restaurant Details</h5>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Name:</strong></p>
                                <p class="text-muted">{{ restaurant.name|upper }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Kitchen ID:</strong></p>
                                <p class="text-muted">{{ restaurant.kitchen_id }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Address:</strong></p>
                                <p class="text-muted">{{ restaurant.address }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Total Account Balance:</strong></p>
                                <p class="text-muted">
                                    ₦{{restaurant.balance|floatformat:2|intcomma}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Restaurant Description:</strong></p>
                                <p class="text-muted">{{restaurant.description}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Number of Dishes:</strong></p>
                                <p class="text-muted">{{dishes_count}}</p>
                            </div>


                            <div class="mt-3 mb-3">
                                <h5 class="card-title mb-0">Profile Details</h5>
                            </div>
                            {% if restaurant.user.profile.phone_number %}
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Phone Number:</strong></p>
                                <p class="text-muted">{{restaurant.user.profile.phone_number}}</p>
                            </div>
                            {% endif %}

                            {% if restaurant.user.profile.country %}
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Country:</strong></p>
                                <p class="text-muted">{{restaurant.user.profile.country}}</p>
                            </div>
                            {% endif %}

                            {% if restaurant.user.profile.state %}
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>State:</strong></p>
                                <p class="text-muted">{{restaurant.user.profile.state}}</p>
                            </div>
                            {% endif %}
                            {% if restaurant.user.profile.postal_code %}
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Postal Code:</strong></p>
                                <p class="text-muted">{{restaurant.user.profile.postal_code}}</p>
                            </div>
                            {% endif %}

                            {% if restaurant.user.profile.city %}
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>City:</strong></p>
                                <p class="text-muted">{{restaurant.user.profile.city}}</p>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>


{% endblock %}