{% extends 'dashboard_base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<style>
    .no-wrap {
        white-space: nowrap;
    }

    /* Pagination styles */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .pagination button {
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #007bff;
        background-color: white;
        color: #007bff;
        cursor: pointer;
        border-radius: 4px;
    }

    .pagination button.active {
        background-color: #007bff;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3"><strong>{{user_obj.email}}</strong></h1>

        <!-- Rest Details -->
        <div class="row">
            <!-- Profile Section -->
            <div class="col-md-4 col-xl-3">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{{ user_obj.profile.image_url }}"
                            style="width: 90px; height: 90px; border: 2px solid #222296; object-fit: cover; border-radius: 50%; margin-bottom: 15px;"
                            alt="Profile Picture" />
                        <h5 class="card-title mb-0 text-black">{{user_obj.email}}</h5>
                        <div class="text-muted mb-2 text-primary">{{ user_obj.username }}</div>

                        <div>
                            <a class="btn btn-primary btn-sm" href="{% url 'dashboard:users_edit' user_obj.pk %}">Edit
                                User Information</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Account Details Section -->
            <div class="col-md-8 col-xl-9">
                <div class="card">

                    <div class="card-body">

                        <div class="row">
                            <div class="mt-3 mb-3">
                                <h5 class="card-title mb-0">User Details</h5>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Name:</strong></p>
                                <p class="text-muted">{{user_obj.profile.name}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Email:</strong></p>
                                <p class="text-muted">{{user_obj.email|lower}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>User ID:</strong></p>
                                <p class="text-muted">{{user_obj.username}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Date of Birth:</strong></p>
                                <p class="text-muted">{{ user_obj.profile.date_of_birth }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Phone Number:</strong></p>
                                <p class="text-muted">{{user_obj.profile.phone_number }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Country:</strong></p>
                                <p class="text-muted">
                                    {{user_obj.profile.country}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>State:</strong></p>
                                <p class="text-muted">{{user_obj.profile.state}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>User Role:</strong></p>
                                <p class="text-muted">{{user_obj.role|upper}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Verification Status</strong></p>
                                <p class="text-muted">
                                    {% if user_obj.is_verified == True %} Verified {% else %} Not Verified {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Postal Code: </strong></p>
                                <p class="text-muted">{{user_obj.profile.postal_code}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Date Joined: </strong></p>
                                <p class="text-muted">{{user_obj.date_joined}}</p>
                            </div>



                            {% if user_obj.profile.phone_number %}
                            <div class="col-sm-6">
                                <p class="mb-2"><strong>Phone Number:</strong></p>
                                <p class="text-muted">{{user_obj.profile.phone_number}}</p>
                            </div>
                            {% endif %}
                            {% if user_obj.profile.bio %}
                            <div class="col-sm-12">
                                <p class="mb-2"><strong>About User:</strong></p>
                                <p class="text-muted">{{user_obj.profile.bio}}</p>
                            </div>
                            {% endif %}



                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>


{% endblock %}